@import 'tailwindcss';
@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility timeline-img {
  @apply sm:absolute w-24 h-24 object-cover rounded-full shadow-xl border-[0.38rem] border-gray-400/75 dark:border-gray-300 lg:mx-auto lg:left-0 lg:right-0;
}

@utility timeline-container {
  @apply relative pt-2 sm:pl-28 md:pt-0 lg:w-1/2 lg:ml-auto lg:pl-16;
}

@utility timeline-container-left {
  @apply lg:ml-0 lg:mr-auto lg:pl-0 lg:pr-16;
}

@utility timeline-pointer {
  @apply absolute inset-0 left-10 sm:top-11 sm:left-25 lg:left-14 h-4 w-4 transform rotate-45 bg-white dark:bg-gray-700;
}

@utility timeline-pointer-left {
  @apply lg:left-auto lg:right-14;
}

/* Handing over some animation to the GPU */
@layer utilities {
  .group-hover\:transform-gpu {
    transform: translateZ(0);
    /* Forces GPU layer */
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --color-proyecta-50: #effefb;
  --color-proyecta-100: #c7fff5;
  --color-proyecta-200: #90ffea;
  --color-proyecta-300: #50f8df;
  --color-proyecta-400: #1de4ce;
  --color-proyecta-500: #04bfad;
  --color-proyecta-600: #00a195;
  --color-proyecta-700: #058078;
  --color-proyecta-800: #0a6560;
  --color-proyecta-900: #0d5450;
  --color-proyecta-950: #003333;
  --color-congress-blue-50: #ebf9ff;
  --color-proyecta-secondary-100: #d2f1ff;
  --color-proyecta-secondary-200: #b0e7ff;
  --color-proyecta-secondary-300: #79dbff;
  --color-proyecta-secondary-400: #3ac3ff;
  --color-proyecta-secondary-500: #0da0ff;
  --color-proyecta-secondary-600: #007dff;
  --color-proyecta-secondary-700: #0064ff;
  --color-proyecta-secondary-800: #0051d3;
  --color-proyecta-secondary-900: #033e8c;
  --color-proyecta-secondary-950: #082d63;


}